<h1>Sign In</h1>

<p>
    No account yet? <%= link_to "Sign up!", signup_path %>
</p>

<%= form_with(url: session_path) do |form| %>
    <%= form.label :email_or_username %>
    <%= form.text_field :email_or_username, autofocus: true, required: true %>

    <%= form.label :password %>
    <%= form.password_field :password, required: true %>

    <%= form.submit "Sign In" %>

<% end %>